apache-airflow
apache-airflow-providers-apache-spark
apache-airflow-providers-docker

openlineage-airflow

pylint
pyspark
numpy # optional dependency of pyspark
safety

scikit-learn # digits dataset
pandas

markupsafe==2.0.1 # workaround https://github.com/pallets/markupsafe/issues/284

ipython
